# Golang
src/backend/*.o
src/backend/*.a
src/backend/*.so
src/backend/*.test
src/backend/bin/
src/backend/vendor/

# Node.js
src/frontend/node_modules/
src/frontend/package-lock.json
src/frontend/.vite/
src/frontend/dist/

# General
logs/
*.log
.env
build/
temp/

# Opencode stuff <- NOTE: DO NOT CHANGE THIS!!!
node_modules
package-lock.json
package.json
opencode.nix
